form.generador {
    max-width: 600px;
    text-align: center;
}

form.generador label {
    font-size: x-large;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 3px;
}

form.generador .form-input {
    padding: 1em;
}

form.generador .form-input input[type='text'],
form.generador textarea {
    display: block;
    width: 100%;
}

form.generador .generar-url {
    padding: 12px 20px;
}

form.generador .generar-url .boton-generar {
    background-color: #0f0f0f !important;
    color: #fff !important;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 750;
    padding: 12px 20px;
    font-style: italic;
    margin-left: 3px;
}

form.generador .generar-url .boton-generar:hover {
    background-color: #ff0000 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 750;
    padding: 12px 20px;
    font-style: italic;
    margin-left: 3px;
    border: 0;
}

.copiar-url {
    margin-top: 100px;
}

.copiar-url label {
    font-size: x-large;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 3px;
}

.copiar-url .url-mostrada {
    margin-top: 14px;
}

.copiar-url .boton-copiar-url {
    margin-top: 20px;
    text-align: center;
}

.copiar-url .boton-copiar-url .boton-copiar {
    background-color: #0f0f0f !important;
    color: #fff !important;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 750;
    padding: 12px 20px;
    font-style: italic;
    margin-left: 3px;
}

.copiar-url .boton-copiar-url .boton-copiar:hover {
    background-color: #ff0000 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 750;
    padding: 12px 20px;
    font-style: italic;
    margin-left: 3px;
    border: 0;
}